uebungen/services/einfach-erweiterte-flow-komponenten.json
{
  "externalControllerServices" : {
    "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
      "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
      "name" : "JsonTreeReader"
    },
    "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
      "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
      "name" : "JsonRecordSetWriter"
    }
  },
  "flow" : {
    "createdTimestamp" : 1756276176756,
    "description" : "final flow",
    "identifier" : "erweiterte-flow-komponenten",
    "lastModifiedTimestamp" : 1756276176756,
    "name" : "erweiterte-flow-komponenten",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "329f13c0-c86e-3f68-9166-46f0bd2c07d5",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5a90e0c7-dc74-3b24-90f6-7b8feea0d151",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "df23913c-6c09-3b9f-9e58-7a2a4e19554c",
        "name" : "Mitarbeitende -> ein FlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1bb59878-2c49-372c-b6f9-200321899266",
        "name" : "Vorgesetzte -> ein FlowFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c20c0a56-2cec-3b45-ab12-84c1c03c5ada",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "id" : "1d7a8318-e0fa-3746-a24e-ec623ab44347",
        "name" : "Vorgesetzte",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ffcb349f-9101-35b3-b487-d06c73967956",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "37a8ed41-c29b-318b-9d4e-2c20f6c3c0cd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1bb59878-2c49-372c-b6f9-200321899266",
        "name" : "Vorgesetzte -> ein FlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "id" : "024dc7fc-96dd-3f02-b8b6-75d7876711ec",
        "name" : "Nutzerdaten in FlowFiles",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e755d7bc-d99f-39f6-9d8f-5b5bf33558e4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "428755ce-3dd7-322a-b56a-354ba108831c",
        "id" : "45e67968-dc81-37c6-b275-23832638fc1e",
        "name" : "Abgerufene Daten",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "df23913c-6c09-3b9f-9e58-7a2a4e19554c",
        "name" : "Mitarbeitende -> ein FlowFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f954b90-c585-372d-951e-6f12559775f1",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "id" : "c3d6214a-c5d2-39a0-8d15-8c1b7093f3ea",
        "name" : "Mitarbeitende",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
        "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "name" : "JsonTreeReader"
      },
      "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
        "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "name" : "JsonRecordSetWriter"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "329f13c0-c86e-3f68-9166-46f0bd2c07d5",
      "position" : {
        "x" : 848.0,
        "y" : 536.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ffcb349f-9101-35b3-b487-d06c73967956",
      "position" : {
        "x" : 352.0,
        "y" : 536.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Process Group",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "428755ce-3dd7-322a-b56a-354ba108831c",
          "id" : "45e67968-dc81-37c6-b275-23832638fc1e",
          "name" : "Abgerufene Daten",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "428755ce-3dd7-322a-b56a-354ba108831c",
        "identifier" : "bd8f42f5-b005-33a1-9ace-b44bde46b4d2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "428755ce-3dd7-322a-b56a-354ba108831c",
          "id" : "7cc45b42-4939-3a2f-9242-89a3bd9d0777",
          "name" : "Datenabruf von <dummyjson.com/users>",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "428755ce-3dd7-322a-b56a-354ba108831c",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Datenabruf von API",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "428755ce-3dd7-322a-b56a-354ba108831c",
        "identifier" : "45e67968-dc81-37c6-b275-23832638fc1e",
        "name" : "Abgerufene Daten",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -120.0,
          "y" : 136.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 456.0,
        "y" : -224.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "INFO",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "428755ce-3dd7-322a-b56a-354ba108831c",
        "identifier" : "7cc45b42-4939-3a2f-9242-89a3bd9d0777",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Datenabruf von <dummyjson.com/users>",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -176.00002228781204,
          "y" : -63.90000788453324
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "https://dummyjson.com/users",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "10 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "a50b15ff-d6e3-321c-9fa0-1963b1400522",
          "name" : "UserRole als Attribute hinzugefügt",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "5a3148df-73db-345a-8911-9d7755fce469",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "313618d1-dd35-3cf8-867d-006b539295da",
          "name" : "User in FlowFiles aufteilen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "1d7a8318-e0fa-3746-a24e-ec623ab44347",
          "name" : "Vorgesetzte",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "aeb040e2-340b-39e6-a0b6-2a53709d8973",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "admin" ],
        "source" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "b32c1b73-9539-3dfe-a831-48150f891477",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "c3d6214a-c5d2-39a0-8d15-8c1b7093f3ea",
          "name" : "Mitarbeitende",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "afb6a838-4272-3f74-a2d8-5c7acf965289",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "b32c1b73-9539-3dfe-a831-48150f891477",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "b32c1b73-9539-3dfe-a831-48150f891477",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "759d3aaa-ecf7-390a-a6f6-56985e7c2caa",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "cf6eff52-5b3d-364f-a7d8-ca73bf5d46d7",
          "name" : "Gehalt als Attribut hinzugefügt",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "313618d1-dd35-3cf8-867d-006b539295da",
          "name" : "User in FlowFiles aufteilen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "9f15c080-72e0-3f69-9646-4efb2b987dc4",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "024dc7fc-96dd-3f02-b8b6-75d7876711ec",
          "name" : "Nutzerdaten in FlowFiles",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "cf6eff52-5b3d-364f-a7d8-ca73bf5d46d7",
          "name" : "Gehalt als Attribut hinzugefügt",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "aa0a81b6-e59e-39c1-a35d-feed335f8dbc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
          "id" : "a50b15ff-d6e3-321c-9fa0-1963b1400522",
          "name" : "UserRole als Attribute hinzugefügt",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "024dc7fc-96dd-3f02-b8b6-75d7876711ec",
        "name" : "Nutzerdaten in FlowFiles",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -120.0,
          "y" : -304.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Transformation und Weiterleiten",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "c3d6214a-c5d2-39a0-8d15-8c1b7093f3ea",
        "name" : "Mitarbeitende",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 96.0,
          "y" : 632.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      }, {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "1d7a8318-e0fa-3746-a24e-ec623ab44347",
        "name" : "Vorgesetzte",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -304.0,
          "y" : 632.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 456.0,
        "y" : 96.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "313618d1-dd35-3cf8-867d-006b539295da",
        "maxBackoffPeriod" : "10 mins",
        "name" : "User in FlowFiles aufteilen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -176.30764482535142,
          "y" : -185.7462023633551
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.users.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "a50b15ff-d6e3-321c-9fa0-1963b1400522",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UserRole als Attribute hinzugefügt",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : 24.099973784105828
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "userRole" : "$.role",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "userRole" : {
            "displayName" : "userRole",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "userRole",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "b32c1b73-9539-3dfe-a831-48150f891477",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Nach Gehalt routen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -171.99995515860337,
          "y" : 432.0999737841058
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "admin" : "${userSalary:equals(5000)}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "admin" : {
            "displayName" : "admin",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "admin",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "54ac0565-81c7-3a5a-a4f9-51e5d6f9a2bd",
        "identifier" : "cf6eff52-5b3d-364f-a7d8-ca73bf5d46d7",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Gehalt als Attribut hinzugefügt",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : 232.09997378410583
        },
        "properties" : {
          "userSalary" : "${userRole:equals('admin'):ifElse(5000,3000)}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "userSalary" : {
            "displayName" : "userSalary",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "userSalary",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "df23913c-6c09-3b9f-9e58-7a2a4e19554c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Mitarbeitende -> ein FlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 696.0,
        "y" : 336.0
      },
      "properties" : {
        "Attribute Strategy" : "Keep Only Common Attributes",
        "min-records" : "25",
        "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "merge-strategy" : "Bin-Packing Algorithm",
        "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "max-records" : "25",
        "min-bin-size" : "0 B",
        "max.bin.count" : "10"
      },
      "propertyDescriptors" : {
        "max-bin-age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-age",
          "sensitive" : false
        },
        "correlation-attribute-name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "correlation-attribute-name",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "min-records" : {
          "displayName" : "Minimum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-records",
          "sensitive" : false
        },
        "max-bin-size" : {
          "displayName" : "Maximum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-size",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "merge-strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "merge-strategy",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "max-records" : {
          "displayName" : "Maximum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-records",
          "sensitive" : false
        },
        "min-bin-size" : {
          "displayName" : "Minimum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-bin-size",
          "sensitive" : false
        },
        "max.bin.count" : {
          "displayName" : "Maximum Number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.bin.count",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1bb59878-2c49-372c-b6f9-200321899266",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Vorgesetzte -> ein FlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 224.0,
        "y" : 344.0
      },
      "properties" : {
        "Attribute Strategy" : "Keep Only Common Attributes",
        "min-records" : "5",
        "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "merge-strategy" : "Bin-Packing Algorithm",
        "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "max-records" : "5",
        "min-bin-size" : "0 B",
        "max.bin.count" : "10"
      },
      "propertyDescriptors" : {
        "max-bin-age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-age",
          "sensitive" : false
        },
        "correlation-attribute-name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "correlation-attribute-name",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "min-records" : {
          "displayName" : "Minimum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-records",
          "sensitive" : false
        },
        "max-bin-size" : {
          "displayName" : "Maximum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-size",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "merge-strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "merge-strategy",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "max-records" : {
          "displayName" : "Maximum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-records",
          "sensitive" : false
        },
        "min-bin-size" : {
          "displayName" : "Minimum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-bin-size",
          "sensitive" : false
        },
        "max.bin.count" : {
          "displayName" : "Maximum Number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.bin.count",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "mhl_admin",
    "flowIdentifier" : "erweiterte-flow-komponenten",
    "timestamp" : 0
  }
}
