demos/default/AlexVersionControl.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1781083919801,
    "description" : "Testflow",
    "identifier" : "AlexVersionControl",
    "lastModifiedTimestamp" : 1781083919801,
    "name" : "Alex_VersionControl",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Alexander",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "df8abf18-1f34-313a-9087-66fdc127f0ae",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "0d420eaf-e305-30c0-82b3-264483352404",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "85c2e2de-60f8-345a-ac35-ccd50b916759",
          "name" : "EvaluateJsonPath - Attribute hinzufügen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "71755b95-84ec-34e5-ae21-d2c8071aa730",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "16a0e3f0-117c-3cdd-9cde-89dd5f809875",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "85c2e2de-60f8-345a-ac35-ccd50b916759",
          "name" : "EvaluateJsonPath - Attribute hinzufügen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 10
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "df8abf18-1f34-313a-9087-66fdc127f0ae",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "2be96038-0c48-3dcf-b3c8-87df5ba3c703",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "ae0c1c6b-9806-31b0-807e-24cc5fe6e0b9",
          "name" : "SplitJson - Json aufteilen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "65361a00-1dbf-30fe-ad0b-955008b9a32d",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "49698b15-59a9-34b8-b9c7-88ca5ae67c6a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "85c2e2de-60f8-345a-ac35-ccd50b916759",
          "name" : "EvaluateJsonPath - Attribute hinzufügen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "ae0c1c6b-9806-31b0-807e-24cc5fe6e0b9",
          "name" : "SplitJson - Json aufteilen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "4d7f745b-387a-3ed3-96c7-ff5ab8e561dc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "3942e547-fb30-3439-aed9-6b477734f6d5",
          "name" : "PutFile - Daten ablegen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "df8abf18-1f34-313a-9087-66fdc127f0ae",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "4deeb7cc-b126-3dfe-bce9-1d8d5fa2f1e5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "3942e547-fb30-3439-aed9-6b477734f6d5",
          "name" : "PutFile - Daten ablegen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "3942e547-fb30-3439-aed9-6b477734f6d5",
          "name" : "PutFile - Daten ablegen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "a5627e2d-5168-3332-9e25-1c675f807c69",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "24efbdbb-5839-3e3b-88df-ed4c8fd771d7",
          "name" : "InvokeHTTP - Daten laden",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "85c2e2de-60f8-345a-ac35-ccd50b916759",
          "name" : "EvaluateJsonPath - Attribute hinzufügen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "ad40d360-0907-3623-9695-2c97c44c0371",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "ae0c1c6b-9806-31b0-807e-24cc5fe6e0b9",
          "name" : "SplitJson - Json aufteilen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "c340b9e8-5b16-3f13-9efb-71f084f2ac79",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "e3f837c4-f7bf-3aad-adc4-5fb039014c0a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "No Retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "24efbdbb-5839-3e3b-88df-ed4c8fd771d7",
          "name" : "InvokeHTTP - Daten laden",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "2ff1426c-5033-36b5-b905-d0595d429030",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "e9227697-f657-32d4-a6e6-12451015cd6c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "24efbdbb-5839-3e3b-88df-ed4c8fd771d7",
          "name" : "InvokeHTTP - Daten laden",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "8834cf58-5d35-33d0-a3d6-35527449a7ae",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "eb6502dd-98a4-3298-b97d-47b50656f728",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
          "id" : "71755b95-84ec-34e5-ae21-d2c8071aa730",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 11
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "2ff1426c-5033-36b5-b905-d0595d429030",
        "position" : {
          "x" : -304.0,
          "y" : -648.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "65361a00-1dbf-30fe-ad0b-955008b9a32d",
        "position" : {
          "x" : -1616.0,
          "y" : 360.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "8834cf58-5d35-33d0-a3d6-35527449a7ae",
        "position" : {
          "x" : -1240.0,
          "y" : 864.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "c340b9e8-5b16-3f13-9efb-71f084f2ac79",
        "position" : {
          "x" : -312.0,
          "y" : -744.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Day 1",
      "outputPorts" : [ ],
      "position" : {
        "x" : -1464.0,
        "y" : -800.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "Failure", "Original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "PRIMARY",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "24efbdbb-5839-3e3b-88df-ed4c8fd771d7",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP - Daten laden",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1280.0,
          "y" : -648.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "https://dummyjson.com/users",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "3942e547-fb30-3439-aed9-6b477734f6d5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile - Daten ablegen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1288.0,
          "y" : -296.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "/tmp/jsonalex",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "71755b95-84ec-34e5-ae21-d2c8071aa730",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1568.0,
          "y" : 648.0
        },
        "properties" : {
          "Delete Attributes Expression" : "invokehttp.*|x-.*|access-control",
          "Store State" : "Do not store state",
          "author" : "alex",
          "Cache Value Lookup Cache Size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "author" : {
            "displayName" : "author",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "author",
            "sensitive" : false
          },
          "Cache Value Lookup Cache Size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Value Lookup Cache Size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "85c2e2de-60f8-345a-ac35-ccd50b916759",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath - Attribute hinzufügen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1288.0,
          "y" : 272.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "rolle" : "$.role",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "id" : "$.id",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "rolle" : {
            "displayName" : "rolle",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "rolle",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "id" : {
            "displayName" : "id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "id",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "ae0c1c6b-9806-31b0-807e-24cc5fe6e0b9",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitJson - Json aufteilen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1288.0,
          "y" : -32.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.users.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "32bf1a09-c7ca-320d-acdc-1e1a496d5a40",
        "identifier" : "df8abf18-1f34-313a-9087-66fdc127f0ae",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -648.0,
          "y" : -288.0
        },
        "properties" : {
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false",
          "Character Set" : "UTF-8",
          "Attributes to Log Regular Expression" : ".*"
        },
        "propertyDescriptors" : {
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "Attributes to Ignore Regular Expression" : {
            "displayName" : "Attributes to Ignore Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore Regular Expression",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          },
          "Log Prefix" : {
            "displayName" : "Log Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Prefix",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Attributes to Log Regular Expression" : {
            "displayName" : "Attributes to Log Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log Regular Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "9a0a6508-5adb-354c-a056-042fdfcde778",
          "id" : "b252a018-1cfe-3be3-81d7-beace54a9a8b",
          "name" : "Input Logs",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "461c419d-2c04-3b2a-9049-21f83f380beb",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "id" : "429ff06a-6c5a-32d9-8487-effdf14faa0e",
          "name" : "Output Failure",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 13
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "id" : "a6c1c667-8664-3bc4-9696-7703fa7b5825",
          "name" : "API Daten",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "734f9a18-72af-3dff-9ad0-f88e167e2496",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "id" : "a06567dd-7c2d-3a98-9309-5758b3c52eb9",
          "name" : "API Daten",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 12
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Day 2",
      "outputPorts" : [ ],
      "position" : {
        "x" : -1464.0,
        "y" : -480.0
      },
      "processGroups" : [ {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9a0a6508-5adb-354c-a056-042fdfcde778",
            "id" : "f0698ff9-14cb-30b1-ffff-ffffc7d26aee",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9a0a6508-5adb-354c-a056-042fdfcde778",
          "identifier" : "d69d230e-5e6d-35cd-8c9d-f0597a3c6718",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "9a0a6508-5adb-354c-a056-042fdfcde778",
            "id" : "b252a018-1cfe-3be3-81d7-beace54a9a8b",
            "name" : "Input Logs",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 1
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "9a0a6508-5adb-354c-a056-042fdfcde778",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "9a0a6508-5adb-354c-a056-042fdfcde778",
          "identifier" : "b252a018-1cfe-3be3-81d7-beace54a9a8b",
          "name" : "Input Logs",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 1560.0,
            "y" : 64.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "PG Logging",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1104.0,
          "y" : -472.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9a0a6508-5adb-354c-a056-042fdfcde778",
          "identifier" : "f0698ff9-14cb-30b1-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1504.0,
            "y" : 184.0
          },
          "properties" : {
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false",
            "Character Set" : "UTF-8",
            "Attributes to Log Regular Expression" : ".*"
          },
          "propertyDescriptors" : {
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "Attributes to Ignore Regular Expression" : {
              "displayName" : "Attributes to Ignore Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore Regular Expression",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            },
            "Log Prefix" : {
              "displayName" : "Log Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Prefix",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Attributes to Log Regular Expression" : {
              "displayName" : "Attributes to Log Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log Regular Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "5b829701-3f74-3a5f-bb73-557149762258",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "5c75f3cf-bc7b-3bf4-9917-bb9d537cb75f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "7d8b3ec6-0b89-34c0-ffff-ffffc7d26aee",
            "name" : "InvokeHTTP - Daten laden",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "265869dc-5102-3738-9dc6-6fa1db96a5be",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "84974823-37ef-3767-bc96-5262ef3ee1fd",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "7d8b3ec6-0b89-34c0-ffff-ffffc7d26aee",
            "name" : "InvokeHTTP - Daten laden",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "a06567dd-7c2d-3a98-9309-5758b3c52eb9",
            "name" : "API Daten",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "b6461a1d-bd24-3393-93d0-3a7494e5e6e3",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
            "id" : "7d8b3ec6-0b89-34c0-ffff-ffffc7d26aee",
            "name" : "InvokeHTTP - Daten laden",
            "type" : "PROCESSOR"
          },
          "zIndex" : 1
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "265869dc-5102-3738-9dc6-6fa1db96a5be",
          "position" : {
            "x" : 2168.0,
            "y" : -288.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "5b829701-3f74-3a5f-bb73-557149762258",
          "position" : {
            "x" : 2168.0,
            "y" : -208.0
          }
        } ],
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
        "inputPorts" : [ ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "PG Daten holen",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "a06567dd-7c2d-3a98-9309-5758b3c52eb9",
          "name" : "API Daten",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 1496.0,
            "y" : 0.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 456.0,
          "y" : -768.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "Failure", "Original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "9c9d27d1-536d-3e14-b04c-c007eece979c",
          "identifier" : "7d8b3ec6-0b89-34c0-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP - Daten laden",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1440.0,
            "y" : -280.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://dummyjson.com/users",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "Proxy Configuration Service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Proxy Configuration Service",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "7c18c9a5-1d55-371d-ffff-ffffc7d26aee",
            "name" : "PutFile - Daten ablegen",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "0a2f6856-a7fc-3cea-9985-f9ba96e8ff1d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "a6c1c667-8664-3bc4-9696-7703fa7b5825",
            "name" : "API Daten",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 17
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "429ff06a-6c5a-32d9-8487-effdf14faa0e",
            "name" : "Output Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "5d41f913-1850-3ee3-949f-ea7d9b3639a9",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "77c3ab51-a6c1-3f05-ffff-ffffc7d26aee",
            "name" : "SplitJson - Json aufteilen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 14
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "b11a4bf2-0754-3608-901b-d60811caabbf",
            "name" : "Output Transformed Data",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "645de3a2-7f64-3477-a38e-1d47e3970d57",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "4d0b02fc-113f-3341-ffff-ffffc7d26aee",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 16
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "4d0b02fc-113f-3341-ffff-ffffc7d26aee",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "6a43fc11-fb30-3927-ffff-ffffc7d26aee",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "58b85727-359c-3a9f-ffff-ffffc7d26aee",
            "name" : "EvaluateJsonPath - Attribute hinzufügen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "0a9097f5-2fb6-31ff-ffff-ffffc7d26aee",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "7e6c938f-6058-31e6-ffff-ffffc7d26aee",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "58b85727-359c-3a9f-ffff-ffffc7d26aee",
            "name" : "EvaluateJsonPath - Attribute hinzufügen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 9
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "429ff06a-6c5a-32d9-8487-effdf14faa0e",
            "name" : "Output Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "94a5f6c8-c0f3-3287-940d-18ef803c1807",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "7c18c9a5-1d55-371d-ffff-ffffc7d26aee",
            "name" : "PutFile - Daten ablegen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 13
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "58b85727-359c-3a9f-ffff-ffffc7d26aee",
            "name" : "EvaluateJsonPath - Attribute hinzufügen",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "d5a4966d-777f-331b-ffff-ffffc7d26aee",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "77c3ab51-a6c1-3f05-ffff-ffffc7d26aee",
            "name" : "SplitJson - Json aufteilen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 7
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "429ff06a-6c5a-32d9-8487-effdf14faa0e",
            "name" : "Output Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "e05dc734-5a87-344f-b05b-f04f10d87da0",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "58b85727-359c-3a9f-ffff-ffffc7d26aee",
            "name" : "EvaluateJsonPath - Attribute hinzufügen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 15
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "77c3ab51-a6c1-3f05-ffff-ffffc7d26aee",
            "name" : "SplitJson - Json aufteilen",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "fa343525-b45c-35a9-b0be-5c747e84324d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
            "id" : "7c18c9a5-1d55-371d-ffff-ffffc7d26aee",
            "name" : "PutFile - Daten ablegen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 12
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "0a9097f5-2fb6-31ff-ffff-ffffc7d26aee",
          "position" : {
            "x" : 1888.0,
            "y" : 360.0
          }
        } ],
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "a6c1c667-8664-3bc4-9696-7703fa7b5825",
          "name" : "API Daten",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 1112.0,
            "y" : -336.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "PG Daten transformieren",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "429ff06a-6c5a-32d9-8487-effdf14faa0e",
          "name" : "Output Failure",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 1792.0,
            "y" : 88.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        }, {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "b11a4bf2-0754-3608-901b-d60811caabbf",
          "name" : "Output Transformed Data",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 1112.0,
            "y" : 864.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 448.0,
          "y" : -480.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "4d0b02fc-113f-3341-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : 592.0
          },
          "properties" : {
            "Delete Attributes Expression" : "invokehttp.*|x-.*|access-control",
            "Store State" : "Do not store state",
            "author" : "alex",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "author" : {
              "displayName" : "author",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "author",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "58b85727-359c-3a9f-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath - Attribute hinzufügen",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : 352.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "rolle" : "$.role",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "id" : "$.id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "rolle" : {
              "displayName" : "rolle",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "rolle",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "77c3ab51-a6c1-3f05-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson - Json aufteilen",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : 40.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.users.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "aa2bd3e1-ead6-373b-882b-f3cfaa4b3b80",
          "identifier" : "7c18c9a5-1d55-371d-ffff-ffffc7d26aee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile - Daten ablegen",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : -192.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/tmp/jsonalex",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "d720246f-8592-3c93-9739-ffd8c5721003",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "07b64cd2-86ed-3e74-8783-c4ef61354281",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "a7db34da-0801-3e24-8f1b-dcf681cf0759",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "aea64fa6-7520-339f-90c9-e409eddb7117",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "47ddbc90-5269-372d-ae77-f06b9d7ff925",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "73a6b779-6842-3bbd-8983-d3d247ae535b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 11
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "1a6c05f1-6cfd-3569-9562-e9ca1d1763c3",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "4957f19c-060b-32b0-b388-78f36f4a4ad6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "aea64fa6-7520-339f-90c9-e409eddb7117",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 8
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "73a6b779-6842-3bbd-8983-d3d247ae535b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "7d86de07-5624-394f-baa9-7bfd016391f4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "e958b1f6-1387-325b-af72-f8c9be698fea",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "68c6af6b-b915-3660-977e-4783a381631b",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "a609653a-7f14-3f0d-8c90-31d91fab8d88",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Mitarbeiter" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "1a6c05f1-6cfd-3569-9562-e9ca1d1763c3",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "1e3ab421-0525-366e-a218-171c7e97d0c8",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "aa047ea3-9e7e-3513-8fc2-f24eaa0e2f19",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Vorgesetzte" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "1a6c05f1-6cfd-3569-9562-e9ca1d1763c3",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 9
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "a7db34da-0801-3e24-8f1b-dcf681cf0759",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "b57feacc-6a92-3ef9-bc2d-94bf1e95bb10",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "dde0b4ef-56ea-32e8-b019-e941232f2ff3",
            "name" : "InvokeHTTP - DummyJson abholen",
            "type" : "PROCESSOR"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "e958b1f6-1387-325b-af72-f8c9be698fea",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "d200fd0a-9bd0-3008-86b7-562cf2fb6141",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "e833785c-3894-3be9-9304-634c8cb52dd4",
            "id" : "a7db34da-0801-3e24-8f1b-dcf681cf0759",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "1e3ab421-0525-366e-a218-171c7e97d0c8",
          "position" : {
            "x" : -536.0,
            "y" : 1328.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "68c6af6b-b915-3660-977e-4783a381631b",
          "position" : {
            "x" : -24.0,
            "y" : 1328.0
          }
        } ],
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
        "inputPorts" : [ ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "Übung Expression Language",
        "outputPorts" : [ ],
        "position" : {
          "x" : 328.0,
          "y" : 104.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "1a6c05f1-6cfd-3569-9562-e9ca1d1763c3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -464.0,
            "y" : 1024.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "Vorgesetzte" : "${userSalary:equals('5000')}",
            "Mitarbeiter" : "${userSalary:equals('3000')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "Vorgesetzte" : {
              "displayName" : "Vorgesetzte",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "Vorgesetzte",
              "sensitive" : false
            },
            "Mitarbeiter" : {
              "displayName" : "Mitarbeiter",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "Mitarbeiter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "73a6b779-6842-3bbd-8983-d3d247ae535b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -448.0,
            "y" : 480.0
          },
          "properties" : {
            "filename" : "${id}-${now():toNumber()}.json",
            "Store State" : "Do not store state",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "a7db34da-0801-3e24-8f1b-dcf681cf0759",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -448.0,
            "y" : -64.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.users.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "aea64fa6-7520-339f-90c9-e409eddb7117",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -456.0,
            "y" : 776.0
          },
          "properties" : {
            "userSalary" : "${role:equals('admin'):ifElse('5000','3000')}",
            "Store State" : "Do not store state",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "userSalary" : {
              "displayName" : "userSalary",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "userSalary",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "d720246f-8592-3c93-9739-ffd8c5721003",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : -168.0
          },
          "properties" : {
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false",
            "Character Set" : "UTF-8",
            "Attributes to Log Regular Expression" : ".*"
          },
          "propertyDescriptors" : {
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "Attributes to Ignore Regular Expression" : {
              "displayName" : "Attributes to Ignore Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore Regular Expression",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            },
            "Log Prefix" : {
              "displayName" : "Log Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Prefix",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Attributes to Log Regular Expression" : {
              "displayName" : "Attributes to Log Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log Regular Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "Failure", "No Retry", "Original", "Retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "dde0b4ef-56ea-32e8-b019-e941232f2ff3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP - DummyJson abholen",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -440.0,
            "y" : -376.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://dummyjson.com/users",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "Proxy Configuration Service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Proxy Configuration Service",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2-stackable26.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e833785c-3894-3be9-9304-634c8cb52dd4",
          "identifier" : "e958b1f6-1387-325b-af72-f8c9be698fea",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -448.0,
            "y" : 232.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "role" : "$.role",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "id" : "$.id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "role" : {
              "displayName" : "role",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "role",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "id" : {
              "displayName" : "id",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      } ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "53341a90-f317-3f07-8542-ad59f33fc64e",
        "identifier" : "af2b03f3-45af-3f9b-87a4-4b5883ca2890",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 464.0,
          "y" : -168.0
        },
        "properties" : {
          "Use UTF-8 Encoding" : "false",
          "Port" : "21",
          "Hostname" : "ftp.learning.svc.cluster.local",
          "Reject Zero-Byte Files" : "true",
          "Create Directory" : "false",
          "Conflict Resolution" : "NONE",
          "Use Compression" : "false",
          "Connection Mode" : "Passive",
          "Connection Timeout" : "30 sec",
          "Data Timeout" : "30 sec",
          "Transfer Mode" : "Binary",
          "Username" : "nifi",
          "Batch Size" : "500",
          "Internal Buffer Size" : "16KB",
          "Dot Rename" : "true"
        },
        "propertyDescriptors" : {
          "Use UTF-8 Encoding" : {
            "displayName" : "Use UTF-8 Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use UTF-8 Encoding",
            "sensitive" : false
          },
          "Port" : {
            "displayName" : "Port",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Port",
            "sensitive" : false
          },
          "Hostname" : {
            "displayName" : "Hostname",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Hostname",
            "sensitive" : false
          },
          "Reject Zero-Byte Files" : {
            "displayName" : "Reject Zero-Byte Files",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Reject Zero-Byte Files",
            "sensitive" : false
          },
          "Remote Path" : {
            "displayName" : "Remote Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Remote Path",
            "sensitive" : false
          },
          "Create Directory" : {
            "displayName" : "Create Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Directory",
            "sensitive" : false
          },
          "Conflict Resolution" : {
            "displayName" : "Conflict Resolution",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution",
            "sensitive" : false
          },
          "Use Compression" : {
            "displayName" : "Use Compression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Compression",
            "sensitive" : false
          },
          "Temporary Filename" : {
            "displayName" : "Temporary Filename",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Temporary Filename",
            "sensitive" : false
          },
          "Connection Mode" : {
            "displayName" : "Connection Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Mode",
            "sensitive" : false
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Data Timeout" : {
            "displayName" : "Data Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Timeout",
            "sensitive" : false
          },
          "Transfer Mode" : {
            "displayName" : "Transfer Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transfer Mode",
            "sensitive" : false
          },
          "Username" : {
            "displayName" : "Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Username",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Internal Buffer Size" : {
            "displayName" : "Internal Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Internal Buffer Size",
            "sensitive" : false
          },
          "Dot Rename" : {
            "displayName" : "Dot Rename",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Dot Rename",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e6dbe733-0e2f-31a0-b2d3-466603c69415",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Day 3",
      "outputPorts" : [ ],
      "position" : {
        "x" : -1464.0,
        "y" : -224.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.2-stackable26.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "e6dbe733-0e2f-31a0-b2d3-466603c69415",
        "identifier" : "c9cc8556-0cb7-3181-bd48-0fd2df2e552d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQL",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -808.999963522238,
          "y" : -309.0000448482417
        },
        "properties" : {
          "Set Auto Commit" : "true",
          "Max Wait Time" : "0 seconds",
          "Default Decimal Scale" : "0",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Compression Format" : "NONE",
          "Normalize Table and Column Names" : "false",
          "Default Decimal Precision" : "10",
          "Content Output Strategy" : "EMPTY",
          "Max Rows Per Flow File" : "0"
        },
        "propertyDescriptors" : {
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "SQL Post-Query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Post-Query",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Normalize Table and Column Names" : {
            "displayName" : "Normalize Table and Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table and Column Names",
            "sensitive" : false
          },
          "SQL Pre-Query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Pre-Query",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          },
          "Max Rows Per Flow File" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per Flow File",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "AlexVersionControl",
    "timestamp" : 1781084084455
  }
}