uebungen/join-enrichment.json
{
  "externalControllerServices" : {
    "9d510a56-53df-3c2b-b2ff-4e029be87d1e" : {
      "identifier" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
      "name" : "MySQL Connection Pool"
    },
    "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
      "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
      "name" : "JsonTreeReader"
    },
    "738f484d-a9db-36f8-8817-07c99dde382b" : {
      "identifier" : "738f484d-a9db-36f8-8817-07c99dde382b",
      "name" : "AvroRecordSetWriter"
    },
    "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
      "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
      "name" : "JsonRecordSetWriter"
    },
    "600c16fd-3584-32ea-bdba-6ec4828f24d8" : {
      "identifier" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
      "name" : "AvroReader"
    }
  },
  "flow" : {
    "createdTimestamp" : 1755179481087,
    "description" : "",
    "identifier" : "join-enrichment",
    "lastModifiedTimestamp" : 1755179481087,
    "name" : "join-enrichment",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a263b-0198-1000-2c77-a7c560bc3b23",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2641-0198-1000-8a5d-ef513a4080f3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2637-0198-1000-fb98-9dc1b6ead3f0",
        "name" : "ExecuteSQLRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2635-0198-1000-1ae8-295399c703f3",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2643-0198-1000-44ce-d6ec68494376",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2634-0198-1000-d818-9780ecac44b7",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2637-0198-1000-fb98-9dc1b6ead3f0",
        "name" : "ExecuteSQLRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263c-0198-1000-e903-453cc2195c6f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2638-0198-1000-4be9-5477cbc7a251",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a263b-0198-1000-2c77-a7c560bc3b23",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263e-0198-1000-f6dd-a153bcbaeb9b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2638-0198-1000-4be9-5477cbc7a251",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2636-0198-1000-19f2-fab3267b8545",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2642-0198-1000-0a57-a4fcd535697e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2637-0198-1000-fb98-9dc1b6ead3f0",
        "name" : "ExecuteSQLRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2638-0198-1000-4be9-5477cbc7a251",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263f-0198-1000-a394-25e845a93975",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "enrichment" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2635-0198-1000-1ae8-295399c703f3",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a263a-0198-1000-b2f2-9f4dc1d2b00b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2640-0198-1000-f9b0-152460ced6a9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "joined" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2636-0198-1000-19f2-fab3267b8545",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2639-0198-1000-077c-5ac5148e09c9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263d-0198-1000-e2a3-90fd6aeed2fb",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "timeout" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2636-0198-1000-19f2-fab3267b8545",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2636-0198-1000-19f2-fab3267b8545",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2644-0198-1000-f3db-e0b96fce43e3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2635-0198-1000-1ae8-295399c703f3",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5691e643-155e-37c5-bd56-a0bab7996783",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "59b4dc71-1711-38dd-b912-73fc9da9dcc8",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a71a2636-0198-1000-19f2-fab3267b8545",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a262f-0198-1000-3b15-1e590e677a3d",
      "name" : "AvroRecordSetWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-access-strategy" : "inherit-record-schema",
        "encoder-pool-size" : "32",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "encoder-pool-size" : {
          "displayName" : "Encoder Pool Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "encoder-pool-size",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-lookup-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.lookup.RecordLookupService"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.lookup.LookupService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2632-0198-1000-3fc5-e7f6c4f00cf6",
      "name" : "Getriebebau",
      "properties" : {
        "dbrecord-lookup-dbcp-service" : "e33076ad-0973-32a3-8381-3938fa17d45e",
        "dbf-default-precision" : "10",
        "dbrecord-lookup-clear-cache-on-enabled" : "true",
        "dbrecord-lookup-cache-size" : "0",
        "dbrecord-lookup-value-columns" : "M_SAPMotorType_B1000,M_RatedPowerkW_B1004,M_InsulationClass_B1021,M_DutyCycle_B1012,M_Voltage_B1010,M_Speed1_B1067,M_FrameSize_B1001,M_Poles_B1003 ",
        "dbrecord-lookup-key-column" : "key_M_EfficiencyClass_B1019",
        "dbf-default-scale" : "0",
        "dbrecord-lookup-table-name" : "(SELECT * FROM test.M_NORD_Motordata_Metric WHERE Catalogue = 'x') AS m"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "dbrecord-lookup-clear-cache-on-enabled" : {
          "displayName" : "Clear Cache on Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-clear-cache-on-enabled",
          "sensitive" : false
        },
        "dbrecord-lookup-cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-cache-size",
          "sensitive" : false
        },
        "dbrecord-lookup-value-columns" : {
          "displayName" : "Lookup Value Columns",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-value-columns",
          "sensitive" : false
        },
        "dbrecord-lookup-key-column" : {
          "displayName" : "Lookup Key Column",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-key-column",
          "sensitive" : false
        },
        "Cache Expiration" : {
          "displayName" : "Cache Expiration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Expiration",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "dbrecord-lookup-table-name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-table-name",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.lookup.db.DatabaseRecordLookupService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2633-0198-1000-ff29-dfe2e143ac23",
      "name" : "MySQL Connection Pool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.mysql.jdbc.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:mysql://localhost:3307",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "nifiuser",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/opt/nifi/drivers/mysql-9.4.0",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2630-0198-1000-9983-7b75e0a53e4d",
      "name" : "AvroReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-access-strategy" : "embedded-avro-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-lookup-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.lookup.RecordLookupService"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.lookup.LookupService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2631-0198-1000-9666-c2b164fb6a7f",
      "name" : "DatabaseRecordLookupService",
      "properties" : {
        "dbrecord-lookup-dbcp-service" : "e33076ad-0973-32a3-8381-3938fa17d45e",
        "dbf-default-precision" : "10",
        "dbrecord-lookup-clear-cache-on-enabled" : "true",
        "dbrecord-lookup-cache-size" : "0",
        "dbrecord-lookup-value-columns" : "M_SAPMotorType_B1000,\nM_RatedPowerkW_B1004,\nM_InsulationClass_B1021,\nM_DutyCycle_B1012,\nM_Voltage_B1010,\nM_Speed1_B1067,\nM_FrameSize_B1001,\nM_PowerCode_B1002,\nM_Poles_B1003  ",
        "dbrecord-lookup-key-column" : "concat(M_MotorProductname,'-',M_Frequency_B1011,'-',M_EfficiencyClass_B1019)",
        "dbf-default-scale" : "0",
        "dbrecord-lookup-table-name" : "test.M_NORD_Motordata_Metric"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "dbrecord-lookup-clear-cache-on-enabled" : {
          "displayName" : "Clear Cache on Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-clear-cache-on-enabled",
          "sensitive" : false
        },
        "dbrecord-lookup-cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-cache-size",
          "sensitive" : false
        },
        "dbrecord-lookup-value-columns" : {
          "displayName" : "Lookup Value Columns",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-value-columns",
          "sensitive" : false
        },
        "dbrecord-lookup-key-column" : {
          "displayName" : "Lookup Key Column",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-key-column",
          "sensitive" : false
        },
        "Cache Expiration" : {
          "displayName" : "Cache Expiration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Expiration",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "dbrecord-lookup-table-name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbrecord-lookup-table-name",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.lookup.db.DatabaseRecordLookupService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.lookup.LookupService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a262e-0198-1000-fd3a-11f6caf32635",
      "name" : "ScriptedLookupService",
      "properties" : {
        "Script Engine" : "Groovy"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.lookup.script.ScriptedLookupService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "9d510a56-53df-3c2b-b2ff-4e029be87d1e" : {
        "identifier" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
        "name" : "MySQL Connection Pool"
      },
      "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
        "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "name" : "JsonTreeReader"
      },
      "738f484d-a9db-36f8-8817-07c99dde382b" : {
        "identifier" : "738f484d-a9db-36f8-8817-07c99dde382b",
        "name" : "AvroRecordSetWriter"
      },
      "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
        "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "name" : "JsonRecordSetWriter"
      },
      "600c16fd-3584-32ea-bdba-6ec4828f24d8" : {
        "identifier" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
        "name" : "AvroReader"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263b-0198-1000-2c77-a7c560bc3b23",
      "position" : {
        "x" : 4400.0,
        "y" : 568.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a263a-0198-1000-b2f2-9f4dc1d2b00b",
      "position" : {
        "x" : 3088.0,
        "y" : 920.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2639-0198-1000-077c-5ac5148e09c9",
      "position" : {
        "x" : 2448.0,
        "y" : 512.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5691e643-155e-37c5-bd56-a0bab7996783",
      "position" : {
        "x" : 2621.5,
        "y" : 770.1571428571428
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "JoinEnrichment",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2637-0198-1000-fb98-9dc1b6ead3f0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteSQLRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 3640.0,
        "y" : 528.0
      },
      "properties" : {
        "esql-max-rows" : "0",
        "esqlrecord-record-writer" : "738f484d-a9db-36f8-8817-07c99dde382b",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "SELECT m.Strasse as Straße,\n\t   m.Hausnummer,\n\t   m.Postleitzahl,\n\t   m.Stadt  \nFROM geschaeftsstellen_adressen m\nWHERE m.Geschaeftsstelle = '${gs}'",
        "Database Connection Pooling Service" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "esqlrecord-normalize" : "false"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "esqlrecord-record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "esqlrecord-record-writer",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "esqlrecord-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esqlrecord-normalize",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2636-0198-1000-19f2-fab3267b8545",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoinEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2952.0,
        "y" : 528.0
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "Join Strategy" : "Insert Enrichment Fields",
        "Insertion Record Path" : "/",
        "Timeout" : "10 min",
        "Original Record Reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "Record Writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "Enrichment Record Reader" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
        "dbf-default-scale" : "0",
        "Maximum number of Bins" : "10000",
        "SQL" : "SELECT o.*,\n       e.m_sapmotortype_b1000,\n       e.m_ratedpowerkw_b1004,\n       e.m_insulationclass_b1021,\n       e.m_dutycycle_b1012,\n       e.m_voltage_b1010,\n       e.m_speed1_b1067,\n       e.m_framesize_b1001,\n       e.m_powercode_b1002,\n       e.m_poles_b1003       \nFROM original o\n    LEFT OUTER JOIN enrichment e\n        ON 1 = 1\n           AND e.m_motorproductname = o.m_motorproductname\n           AND e.m_efficiencyclass_b1019 = o.m_efficiencyclass_b1019\n           AND e.m_frequency_b1011 = o.m_frequency_b1011"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Join Strategy" : {
          "displayName" : "Join Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Join Strategy",
          "sensitive" : false
        },
        "Insertion Record Path" : {
          "displayName" : "Insertion Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Insertion Record Path",
          "sensitive" : false
        },
        "Timeout" : {
          "displayName" : "Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timeout",
          "sensitive" : false
        },
        "Original Record Reader" : {
          "displayName" : "Original Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Original Record Reader",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Enrichment Record Reader" : {
          "displayName" : "Enrichment Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Enrichment Record Reader",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "SQL" : {
          "displayName" : "SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2635-0198-1000-1ae8-295399c703f3",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ForkEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2952.0,
        "y" : 128.0
      },
      "properties" : { },
      "propertyDescriptors" : { },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2638-0198-1000-4be9-5477cbc7a251",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 3672.0,
        "y" : 152.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "gs" : "$.Geschaeftsstelle",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "gs" : {
          "displayName" : "gs",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "gs",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71a2634-0198-1000-d818-9780ecac44b7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2952.0,
        "y" : -80.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "text/json",
        "generate-ff-custom-text" : "{\n    \"Geschaeftsstelle\": \"Wiesbaden\" ,\n    \"Geschaeftsfuehrung\": \"Meike Muster\",\n    \"Mitarbeiter\": [\n        {\n            \"Vorname\": \"Emily\",\n            \"Nachname\": \"Johnson\",\n            \"Bereich\": \"Application Development\"\n        }, \n        {\n            \"Vorname\": \"Michael\",\n            \"Nachname\": \"Williams\",\n            \"Bereich\": \"Big Data\"\n        }, \n        {\n            \"Vorname\": \"Sophia\",\n            \"Nachname\": \"Brown\",\n            \"Bereich\": \"Cloud\"\n        }\n    ]\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "mhl_admin",
    "flowIdentifier" : "join-enrichment",
    "timestamp" : 0
  }
}