uebungen/process-group.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1753364349860,
    "description" : "Final result of exercise with process groups",
    "identifier" : "process-group",
    "lastModifiedTimestamp" : 1753364349860,
    "name" : "process-group",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "04bc8ca0-803a-364a-966b-3d0b2d48ef7a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6ffd74bc-960f-339c-9385-36c0729d386b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "id" : "8487dbd2-1dd0-3f92-b5bd-5df4ee4c6896",
        "name" : "Mitarbeitende",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "id" : "62643f0b-a419-3e2a-9c9d-6703872c867f",
        "name" : "Nutzerdaten in FlowFiles",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6644ecfb-e395-386a-8d7a-af3e5549dfa5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
        "id" : "c5ed2637-a4d2-31a4-831f-c01aaa5233dd",
        "name" : "Abgerufene Daten",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "443c792d-f67f-3ad0-8725-413e664dc45a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f630d0fa-2c5c-3868-bc7f-d1d19c90e1ad",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "id" : "288a2ce3-190c-33e8-8422-60ded87fee7b",
        "name" : "Vorgesetzte",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "443c792d-f67f-3ad0-8725-413e664dc45a",
      "position" : {
        "x" : 440.0,
        "y" : 360.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "04bc8ca0-803a-364a-966b-3d0b2d48ef7a",
      "position" : {
        "x" : 792.0,
        "y" : 360.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Process Group",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "288a2ce3-190c-33e8-8422-60ded87fee7b",
          "name" : "Vorgesetzte",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "c5826008-20b8-36da-8b9b-7142b4e456c4",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "admin" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "e783e04f-c1b0-3090-ffff-ffffcf2e42ce",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "28180ab9-f977-3c9f-ffff-ffffcf2e42ce",
          "name" : "User in FlowFiles aufteilen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "9043c7a6-eeab-374f-8478-7c6b34ea1f15",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "62643f0b-a419-3e2a-9c9d-6703872c867f",
          "name" : "Nutzerdaten in FlowFiles",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "8487dbd2-1dd0-3f92-b5bd-5df4ee4c6896",
          "name" : "Mitarbeitende",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "7d76dd1a-9ee5-332b-bad8-5574d2f8df05",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "e783e04f-c1b0-3090-ffff-ffffcf2e42ce",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "8a4d41e4-1336-3d34-ffff-ffffcf2e42ce",
          "name" : "Zeistempel und .json im FlowFile Namen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "8bbc7748-93db-35e1-ffff-ffffcf2e42ce",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "50bbdd94-e226-30fe-ffff-ffffcf2e42ce",
          "name" : "UserId als FlowFile Name",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "908e57bd-539f-3ec1-ffff-ffffcf2e42ce",
          "name" : "Gehalt als Attribut hinzugefügt",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "ed0ef4b5-b37f-325c-ffff-ffffcf2e42ce",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "1dfdb0cf-a3d4-37f4-ffff-ffffcf2e42ce",
          "name" : "UserRole als Attribute hinzugefügt",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "1dfdb0cf-a3d4-37f4-ffff-ffffcf2e42ce",
          "name" : "UserRole als Attribute hinzugefügt",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "d02e13be-97d3-3e0f-ffff-ffffcf2e42ce",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "8a4d41e4-1336-3d34-ffff-ffffcf2e42ce",
          "name" : "Zeistempel und .json im FlowFile Namen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "50bbdd94-e226-30fe-ffff-ffffcf2e42ce",
          "name" : "UserId als FlowFile Name",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "f233f180-cb83-3d63-ffff-ffffcf2e42ce",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "28180ab9-f977-3c9f-ffff-ffffcf2e42ce",
          "name" : "User in FlowFiles aufteilen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "e783e04f-c1b0-3090-ffff-ffffcf2e42ce",
          "name" : "Nach Gehalt routen",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "67aee5d5-ee43-30d4-ffff-ffffcf2e42ce",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "8e44f724-55d2-358a-bd53-f95453f74c29",
          "id" : "908e57bd-539f-3ec1-ffff-ffffcf2e42ce",
          "name" : "Gehalt als Attribut hinzugefügt",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "62643f0b-a419-3e2a-9c9d-6703872c867f",
        "name" : "Nutzerdaten in FlowFiles",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -128.0,
          "y" : -664.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Transformation und Weiterleiten",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "8487dbd2-1dd0-3f92-b5bd-5df4ee4c6896",
        "name" : "Mitarbeitende",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 96.0,
          "y" : 632.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      }, {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "288a2ce3-190c-33e8-8422-60ded87fee7b",
        "name" : "Vorgesetzte",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -304.0,
          "y" : 632.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 456.0,
        "y" : 96.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "8a4d41e4-1336-3d34-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Zeistempel und .json im FlowFile Namen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : -159.90002621589417
        },
        "properties" : {
          "filename" : "${filename:append(\"-\"):append(${now():format(\"dd-HH-mm-ss\")}):append(\".json\")}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "50bbdd94-e226-30fe-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UserId als FlowFile Name",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : -351.9000262158942
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "filename" : "$.id",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "e783e04f-c1b0-3090-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Nach Gehalt routen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -171.99995515860337,
          "y" : 432.0999737841058
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "admin" : "${userSalary:equals(5000)}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "admin" : {
            "displayName" : "admin",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "admin",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "28180ab9-f977-3c9f-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "User in FlowFiles aufteilen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : -559.9000262158942
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.users.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "908e57bd-539f-3ec1-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Gehalt als Attribut hinzugefügt",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : 232.09997378410583
        },
        "properties" : {
          "userSalary" : "${userRole:equals('admin'):ifElse(5000,3000)}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "userSalary" : {
            "displayName" : "userSalary",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "userSalary",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8e44f724-55d2-358a-bd53-f95453f74c29",
        "identifier" : "1dfdb0cf-a3d4-37f4-ffff-ffffcf2e42ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UserRole als Attribute hinzugefügt",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -179.99995515860337,
          "y" : 24.099973784105828
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "userRole" : "$.role",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "userRole" : {
            "displayName" : "userRole",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "userRole",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
          "id" : "c5ed2637-a4d2-31a4-831f-c01aaa5233dd",
          "name" : "Abgerufene Daten",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
        "identifier" : "8347921e-75f6-33f9-90a9-61bbef6eb960",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
          "id" : "8f7ea2a7-dced-3a63-0000-000061c75a47",
          "name" : "Datenabruf von <dummyjson.com/users>",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Datenabruf von API",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
        "identifier" : "c5ed2637-a4d2-31a4-831f-c01aaa5233dd",
        "name" : "Abgerufene Daten",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -120.0,
          "y" : 136.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 456.0,
        "y" : -224.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "INFO",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "10f1064c-827c-3648-9fa9-6d4d69367dff",
        "identifier" : "8f7ea2a7-dced-3a63-0000-000061c75a47",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Datenabruf von <dummyjson.com/users>",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -176.00002228781204,
          "y" : -63.90000788453324
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "HTTP URL" : "https://dummyjson.com/users",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "10 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "process-group",
    "timestamp" : 0
  }
}