uebungen/uebungen-04json.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1752748001636,
    "description" : "SMTP Server",
    "identifier" : "uebungen-04json",
    "lastModifiedTimestamp" : 1752748001636,
    "name" : "uebungen-04.json",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d33f3b75-a122-35b5-bf04-ec1947e742dd",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40e3997e-773c-3c3a-be8d-ae5b157bd0e9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e12a70b9-cf30-332f-9d9c-9dcb01e762ba",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2a5ab44a-a28b-399f-a86f-5f7344b545ab",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2f9b2e72-72d3-3935-af48-47b27a204046",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79464feb-9c20-37aa-83aa-bd5f9c8aa0d4",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b321a89-bd41-3d5d-8726-ca7bbc07d50a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a6adbd22-76ec-3046-a383-9a06591f55ec",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e12a70b9-cf30-332f-9d9c-9dcb01e762ba",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "14ebe7a5-b3fe-3b74-b91d-a074770cb1f4",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a4daa78c-343f-309e-8aba-ec53a848f551",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "No Retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e12a70b9-cf30-332f-9d9c-9dcb01e762ba",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bf22140f-b1b1-38b2-a804-563df6db1ea4",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fe7b982e-eb42-3f39-9be6-6c872c8dc52d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "user, moderator",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2a5ab44a-a28b-399f-a86f-5f7344b545ab",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79464feb-9c20-37aa-83aa-bd5f9c8aa0d4",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "47809326-9819-37a4-ab7a-b8a1efc05f73",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "156a1f47-bfc6-3baa-a791-e8ca9ef9b1da",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "156a1f47-bfc6-3baa-a791-e8ca9ef9b1da",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a37d3825-bbc5-3e25-af45-e54b9cfcb10d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40147dc0-2074-3955-aad8-0c61c91e17d5",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40147dc0-2074-3955-aad8-0c61c91e17d5",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "23c35753-0d70-35de-8c29-289eeb2abfc3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d33f3b75-a122-35b5-bf04-ec1947e742dd",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "34f7dee0-8e98-325a-9948-84cc3d5d3d18",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f856962d-94f4-39cf-800f-15d79067b739",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "admin" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2a5ab44a-a28b-399f-a86f-5f7344b545ab",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3b321a89-bd41-3d5d-8726-ca7bbc07d50a",
      "position" : {
        "x" : 72.0,
        "y" : 16.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "34f7dee0-8e98-325a-9948-84cc3d5d3d18",
      "position" : {
        "x" : -600.0,
        "y" : 1096.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "14ebe7a5-b3fe-3b74-b91d-a074770cb1f4",
      "position" : {
        "x" : -848.0,
        "y" : 24.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "uebung04",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "95dec533-b593-3c0e-a1d4-b7e596d761b1",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "7601b910-4ce3-360d-be61-644ba9e9b646",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "0b569658-0cf7-3f34-ae6f-df63f06659ee",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "ba64f373-625f-3a39-8ce8-71b8c39cd732",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "bcc7b754-5545-3239-bfe7-048fb77aa5a3",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "95dec533-b593-3c0e-a1d4-b7e596d761b1",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "0b569658-0cf7-3f34-ae6f-df63f06659ee",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "afcc1047-e1b3-3a25-808c-caa55bdc34fa",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "767be11f-a740-3b15-9a41-01e6fbf98c6e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "38a61218-20f0-3e57-977b-65d026bf82b3",
          "name" : "Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "4ffd06af-8e67-3623-ba15-73c75a78660b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
          "id" : "ba64f373-625f-3a39-8ce8-71b8c39cd732",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Get Userdata From DB",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "38a61218-20f0-3e57-977b-65d026bf82b3",
        "name" : "Output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 96.0,
          "y" : 792.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : 248.0,
        "y" : 1008.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "95dec533-b593-3c0e-a1d4-b7e596d761b1",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitJson",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 32.0,
          "y" : 336.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "0b569658-0cf7-3f34-ae6f-df63f06659ee",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 24.0,
          "y" : 96.0
        },
        "properties" : {
          "filename" : "${filename:substring(0,0):prepend(${now():format(\"yyyy-MM-dd-HH-mm-ss\")}):append(\"-users.json\")}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-jolt-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "ba64f373-625f-3a39-8ce8-71b8c39cd732",
        "maxBackoffPeriod" : "10 mins",
        "name" : "JoltTransformJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 40.0,
          "y" : 544.0
        },
        "properties" : {
          "Jolt Transform" : "jolt-transform-chain",
          "Max String Length" : "20 MB",
          "Transform Cache Size" : "1",
          "Pretty Print" : "false",
          "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"name\":\"name\",\n      \"email\":\"email\",\n      \"phone\":\"phone\"\n    }\n  }\n]"
        },
        "propertyDescriptors" : {
          "Jolt Transform" : {
            "displayName" : "Jolt Transform",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Transform",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          },
          "Custom Transformation Class Name" : {
            "displayName" : "Custom Transformation Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Transformation Class Name",
            "sensitive" : false
          },
          "Custom Module Directory" : {
            "displayName" : "Custom Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "FILE", "DIRECTORY" ]
            },
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Jolt Specification" : {
            "displayName" : "Jolt Specification",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Specification",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE", "TEXT" ]
            },
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f4272645-4e4d-31fc-b1c4-6afa380522b9",
        "identifier" : "767be11f-a740-3b15-9a41-01e6fbf98c6e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 28.999982546612955,
          "y" : -136.8333111324232
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "HTTP URL" : "https://jsonplaceholder.typicode.com/users",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d33f3b75-a122-35b5-bf04-ec1947e742dd",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -562.9999694824219,
        "y" : 61.0
      },
      "properties" : {
        "filename" : "${filename:substring(0,0):prepend(${now():format(\"yyyy-MM-dd-HH-mm-ss\")}):append(\"-users.json\")}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "79464feb-9c20-37aa-83aa-bd5f9c8aa0d4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : 704.0
      },
      "properties" : {
        "userSalary" : "${userRole:equals('admin'):ifElse(5000,3000)}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "userSalary" : {
          "displayName" : "userSalary",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "userSalary",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bf22140f-b1b1-38b2-a804-563df6db1ea4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -296.0,
        "y" : 1152.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[{\n  \"operation\": \"modify-overwrite-beta\",\n  \"spec\":{\n    \"name\": \"=concat(@(1,firstName),' ',@(2,lastName))\"\n\t}\n},\n{\n  \"operation\": \"remove\",\n  \"spec\":{\n    \"firstName\": \"\",\n    \"lastName\": \"\"\n\t}\n },\n {\n  \"operation\": \"shift\",\n  \"spec\":{\n   \t\"name\": \"name\",\n    \"email\": \"email\",\n  \t\"phone\": \"phone\"\n \t}\n }]"
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2a5ab44a-a28b-399f-a86f-5f7344b545ab",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : 904.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "admin" : "${userSalary:equals('5000')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "admin" : {
          "displayName" : "admin",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "admin",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "156a1f47-bfc6-3baa-a791-e8ca9ef9b1da",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : 496.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "userSalary" : "$.id",
        "Max String Length" : "20 MB",
        "Return Type" : "json",
        "Null Value Representation" : "empty string",
        "userRole" : "$.role",
        "userID" : "$.id",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "userSalary" : {
          "displayName" : "userSalary",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "userSalary",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "userRole" : {
          "displayName" : "userRole",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "userRole",
          "sensitive" : false
        },
        "userID" : {
          "displayName" : "userID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "userID",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "Original", "Failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e12a70b9-cf30-332f-9d9c-9dcb01e762ba",
      "maxBackoffPeriod" : "10 mins",
      "name" : "InvokeHTTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -567.9999694824219,
        "y" : -366.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "HTTP URL" : "https://dummyjson.com/users",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40147dc0-2074-3955-aad8-0c61c91e17d5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : 288.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.users.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "uebungen-04json",
    "timestamp" : 0
  }
}