demos/createtables.json
{
  "externalControllerServices" : {
    "c91c1cee-ca71-3d58-9a80-945e615166cc" : {
      "identifier" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
      "name" : "MySQL Connection Users"
    },
    "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
      "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
      "name" : "JsonTreeReader"
    },
    "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
      "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
      "name" : "JsonRecordSetWriter"
    }
  },
  "flow" : {
    "createdTimestamp" : 1757925054804,
    "description" : "A flow with different process groups in it to create the required tables",
    "identifier" : "createtables",
    "lastModifiedTimestamp" : 1757925054804,
    "name" : "create_tables",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "c91c1cee-ca71-3d58-9a80-945e615166cc" : {
        "identifier" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
        "name" : "MySQL Connection Users"
      },
      "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
        "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "name" : "JsonTreeReader"
      },
      "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
        "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "name" : "JsonRecordSetWriter"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "a0b63902-c7a6-32d1-941a-fd0e8ec78608",
      "label" : "Creates the tables without content",
      "position" : {
        "x" : 2544.0,
        "y" : -1648.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 152.0,
      "identifier" : "4c5281ab-0199-1000-d88b-16bc789cc819",
      "label" : "Creates the tables with content in it like\nProdukte, Geschäftstellen-Adressen etc.",
      "position" : {
        "x" : 2536.0,
        "y" : -1224.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 168.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Create Databases and Tables",
    "outputPorts" : [ ],
    "parameterContextName" : "Create Databases and Tables",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4c487e5f-0199-1000-9da6-1e5099efea12",
          "id" : "d5960c98-00c3-37ef-8e90-c94d56f9b994",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4c487e5f-0199-1000-9da6-1e5099efea12",
        "identifier" : "b1ff534a-d5bd-3a87-ba97-21247b14a0d1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "4c487e5f-0199-1000-9da6-1e5099efea12",
          "id" : "9e1162bf-1d30-30a1-9fbd-077cb9d862bf",
          "name" : "Create Table Userdata",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "4c487e5f-0199-1000-9da6-1e5099efea12",
        "identifier" : "d5960c98-00c3-37ef-8e90-c94d56f9b994",
        "position" : {
          "x" : 904.0,
          "y" : 304.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c487e5f-0199-1000-9da6-1e5099efea12",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Create Table Format without content",
      "outputPorts" : [ ],
      "position" : {
        "x" : 2112.0,
        "y" : -1656.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4c487e5f-0199-1000-9da6-1e5099efea12",
        "identifier" : "9e1162bf-1d30-30a1-9fbd-077cb9d862bf",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Table Userdata",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 756.0000439830617,
          "y" : 87.20004298890194
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "CREATE TABLE userdata (\n    userID bigint NOT NULL,\n    name varchar(255),\n    username varchar(255),\n    email varchar(255),\n    phone varchar(255),\n    PRIMARY KEY (userID)\n);",
          "Database Connection Pooling Service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
          "id" : "f9be343c-e5da-37a4-9e28-315fdec7755c",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "4e3b9c85-b53a-35a2-8ba6-268e6f404793",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
          "id" : "f63b3371-cf21-3aec-9f0b-0a5a2265ea4b",
          "name" : "Create Table in Database",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
          "id" : "15349908-a0cc-3de7-8540-1d06b5c54e3e",
          "name" : "Adressdaten",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "f7d3f618-8145-3300-8a6c-e120f8a305e8",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "id" : "7ec98a5e-0198-1000-3b0a-041835eb1b92",
          "name" : "Adressdaten",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 1
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "f9be343c-e5da-37a4-9e28-315fdec7755c",
        "position" : {
          "x" : 488.0,
          "y" : 216.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
      "inputPorts" : [ ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "height" : 64.0,
        "identifier" : "279c5a39-cb03-3b64-a809-e37b124d91ed",
        "label" : "1. Start this processor first.",
        "position" : {
          "x" : 336.0,
          "y" : -80.0
        },
        "style" : {
          "font-size" : "22px"
        },
        "width" : 328.0,
        "zIndex" : 1
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "height" : 64.0,
        "identifier" : "4c4ddf95-0199-1000-11b4-caa6d3f5183e",
        "label" : "2. Use this processgroups as second.",
        "position" : {
          "x" : 816.0,
          "y" : -144.0
        },
        "style" : {
          "font-size" : "20px"
        },
        "width" : 328.0,
        "zIndex" : 1
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "Create Table address",
      "outputPorts" : [ ],
      "position" : {
        "x" : 2112.0,
        "y" : -1440.0
      },
      "processGroups" : [ {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "839f8d1b-0198-1000-d317-50aa7e23c532",
            "name" : "Ein User je FlowFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "9f564c6d-f189-3832-88d0-5e8c17af41b5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "839f7a50-0198-1000-581e-5f7534f288ee",
            "name" : "Datenabruf von <dummyjson.com/users>",
            "type" : "PROCESSOR"
          },
          "zIndex" : 16
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "3d17cf9a-8765-352f-9a76-093639ecbbf5",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "4efa313d-1a87-3e22-8235-7aff6dc7a9e0",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7ec93114-0198-1000-c164-6a7eb26efa25",
            "name" : "Ein User je FlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 13
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7ec98a5e-0198-1000-3b0a-041835eb1b92",
            "name" : "Adressdaten",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "b3aa14e8-e9c0-3ca3-87f6-8b3e2521f6b6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "839fcf57-0198-1000-8548-88071a3c84b7",
            "name" : "Remove Array Around JSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 19
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7ec98a5e-0198-1000-3b0a-041835eb1b92",
            "name" : "Adressdaten",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "37e88e28-074e-37e9-85ce-ca3fba005e7b",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7eca1c51-0198-1000-c8e6-0a43eeacc776",
            "name" : "Remove Array Around JSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 9
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7f2baf85-0198-1000-9657-81910a654a7f",
            "name" : "Kontaktdaten aus JSON extrahieren",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7ddfe922-be47-37e2-8f84-24eabefeb776",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "3d17cf9a-8765-352f-9a76-093639ecbbf5",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 14
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7eca1c51-0198-1000-c8e6-0a43eeacc776",
            "name" : "Remove Array Around JSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "e6a987f1-bf17-3e69-af37-7639033aaf6e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "address_data" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7f2baf85-0198-1000-9657-81910a654a7f",
            "name" : "Kontaktdaten aus JSON extrahieren",
            "type" : "PROCESSOR"
          },
          "zIndex" : 15
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7ec93114-0198-1000-c164-6a7eb26efa25",
            "name" : "Ein User je FlowFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7ec9311a-0198-1000-2237-bba0e48f832d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "7ec93116-0198-1000-ebea-cb09a8ca2305",
            "name" : "Datenabruf von <dummyjson.com/users>",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "839fcf57-0198-1000-8548-88071a3c84b7",
            "name" : "Remove Array Around JSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "bc18ee74-1fe5-335b-9cb2-617972ea96fb",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "contact_data" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "cad98e86-aa28-3a85-a403-b9ab34da736d",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 18
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "cad98e86-aa28-3a85-a403-b9ab34da736d",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "e7c7cb13-9043-3535-83cc-5de3c954bbb6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
            "id" : "839f8d1b-0198-1000-d317-50aa7e23c532",
            "name" : "Ein User je FlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 17
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
        "inputPorts" : [ ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "Fetch Userdata and query address data",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7ec98a5e-0198-1000-3b0a-041835eb1b92",
          "name" : "Adressdaten",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : 136.0,
            "y" : 480.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 816.0,
          "y" : -56.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7ec93114-0198-1000-c164-6a7eb26efa25",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Ein User je FlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -176.0,
            "y" : -264.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.users.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "839f7a50-0198-1000-581e-5f7534f288ee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Datenabruf von <dummyjson.com/users>",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 360.0,
            "y" : -456.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://dummyjson.com/users",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7f2baf85-0198-1000-9657-81910a654a7f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Kontaktdaten aus JSON extrahieren",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -168.0,
            "y" : 96.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
            "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
            "include-zero-record-flowfiles" : "true",
            "address_data" : "SELECT \n  id,\n  address_address as street,\n  address_city as city,\n  address_state as state,\n  address_postalCode as postalCode,\n  address_country as country\nFROM FLOWFILE",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "address_data" : {
              "displayName" : "address_data",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "address_data",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7ec93116-0198-1000-ebea-cb09a8ca2305",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Datenabruf von <dummyjson.com/users>",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -176.0,
            "y" : -456.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://dummyjson.com/users",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "839f8d1b-0198-1000-d317-50aa7e23c532",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Ein User je FlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : -256.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.users.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "7eca1c51-0198-1000-c8e6-0a43eeacc776",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Remove Array Around JSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -168.0,
            "y" : 280.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "3d17cf9a-8765-352f-9a76-093639ecbbf5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FlattenJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -168.0,
            "y" : -88.0
          },
          "properties" : {
            "ignore-reserved-characters" : "false",
            "flatten-mode" : "normal",
            "flatten-json-separator" : "_",
            "flatten-json-pretty-print-json" : "false",
            "flatten-json-return-type" : "flatten",
            "flatten-json-character-set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "ignore-reserved-characters" : {
              "displayName" : "Ignore Reserved Characters",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "ignore-reserved-characters",
              "sensitive" : false
            },
            "flatten-mode" : {
              "displayName" : "Flatten Mode",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "flatten-mode",
              "sensitive" : false
            },
            "flatten-json-separator" : {
              "displayName" : "Separator",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "flatten-json-separator",
              "sensitive" : false
            },
            "flatten-json-pretty-print-json" : {
              "displayName" : "Pretty Print JSON",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "flatten-json-pretty-print-json",
              "sensitive" : false
            },
            "flatten-json-return-type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "flatten-json-return-type",
              "sensitive" : false
            },
            "flatten-json-character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "flatten-json-character-set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FlattenJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "cad98e86-aa28-3a85-a403-b9ab34da736d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : -16.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
            "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
            "include-zero-record-flowfiles" : "true",
            "contact_data" : "SELECT \n  id,\n  (RPATH_STRING(address, '/address')) as street,\n  (RPATH_STRING(address, '/city')) as city,\n  (RPATH_STRING(address, '/state')) as state,\n  (RPATH_STRING(address, '/postalCode')) as postalCode,\n  (RPATH_STRING(address, '/country')) as country\nFROM FLOWFILE",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "contact_data" : {
              "displayName" : "contact_data",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "contact_data",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "def45288-ebb8-3ec9-93ee-ea4252b535c1",
          "identifier" : "839fcf57-0198-1000-8548-88071a3c84b7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Remove Array Around JSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 352.0,
            "y" : 280.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 344.0,
            "y" : -56.0
          }, {
            "x" : 293.0,
            "y" : -23.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
            "id" : "9733b3e0-7570-3236-82a3-0348a082e15c",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
          "identifier" : "22030b99-0a3c-31a3-b728-b030f3a5de9f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
            "id" : "9733b3e0-7570-3236-82a3-0348a082e15c",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
            "id" : "9733b3e0-7570-3236-82a3-0348a082e15c",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "60 sec",
          "groupIdentifier" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
          "identifier" : "4cfa83be-a808-3de0-9803-4a3167759a7e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
            "id" : "15349908-a0cc-3de7-8540-1d06b5c54e3e",
            "name" : "Adressdaten",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 1
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
          "identifier" : "15349908-a0cc-3de7-8540-1d06b5c54e3e",
          "name" : "Adressdaten",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -128.50001064296032,
            "y" : -197.16666052629284
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "Put Adressdata in Database",
        "outputPorts" : [ ],
        "position" : {
          "x" : 816.0,
          "y" : 192.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.4.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2e5f33cf-2eda-3f4f-9c88-392ffc4150f4",
          "identifier" : "9733b3e0-7570-3236-82a3-0348a082e15c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -176.0,
            "y" : -112.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-statement-type" : "INSERT",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "database-session-autocommit" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-dcbp-service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
            "put-db-record-query-timeout" : "0 seconds",
            "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
            "rollback-on-failure" : "false",
            "put-db-record-binary-format" : "UTF-8",
            "db-type" : "Generic",
            "put-db-record-table-name" : "address",
            "put-db-record-record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "Delete Keys" : {
              "displayName" : "Delete Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Keys",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "Database Dialect Service" : {
              "displayName" : "Database Dialect Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Dialect Service",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "Column Name Translation Pattern" : {
              "displayName" : "Column Name Translation Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Pattern",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "Column Name Translation Strategy" : {
              "displayName" : "Column Name Translation Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Strategy",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-binary-format" : {
              "displayName" : "Binary String Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-binary-format",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      } ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "7ec68abc-0198-1000-7011-d6eb5712c81f",
        "identifier" : "f63b3371-cf21-3aec-9f0b-0a5a2265ea4b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Table in Database",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 336.0,
          "y" : 0.0
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "CREATE TABLE address (\n    id int NOT NULL,\n    street varchar(255),\n    postalCode varchar(255),\n    city varchar(255),\n    state varchar(255),\n    country varchar(255),\n    PRIMARY KEY (id)\n);",
          "Database Connection Pooling Service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "41f139fa-7cf0-3054-a70a-7d2e672253ee",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "ac9eb784-2170-33dd-b9c1-78e3796ce5e6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "4c4c35f2-0199-1000-e917-f1abf87df196",
          "name" : "Create Table Produkte",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "41f139fa-7cf0-3054-a70a-7d2e672253ee",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "ae2cf8b2-f45a-3499-8e58-23b388bcfc64",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "4c4c45c0-0199-1000-45c4-b504c9d7c0de",
          "name" : "Create Table nifi_api_conf",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "41f139fa-7cf0-3054-a70a-7d2e672253ee",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "f0445616-5b95-3acd-abcc-34d84362a158",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
          "id" : "08e3dc99-3342-3c83-ab59-ae93bd82b315",
          "name" : "Create table geschaeftsstellen_adressen",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "41f139fa-7cf0-3054-a70a-7d2e672253ee",
        "position" : {
          "x" : 1183.0000439830617,
          "y" : 511.2000277301129
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Create Tables with content",
      "outputPorts" : [ ],
      "position" : {
        "x" : 2112.0,
        "y" : -1224.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "4c4c35f2-0199-1000-e917-f1abf87df196",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Table Produkte",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1024.0,
          "y" : 216.0
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "INSERT INTO Produkte (ProduktID, Name, Kategorie, Preis) VALUES\n('P001', 'Einkaufswagen', 'Haushalt', 89.99),\n('P002', 'USB-C Ladegerät', 'Elektronik', 19.99),\n('P003', 'Staubsauger', 'Haushalt', 149.99),\n('P004', 'Wasserkocher', 'Haushalt', 39.99),\n('P005', 'Roman: Die Reise', 'Bücher', 14.99),\n('P006', 'Bluetooth Kopfhörer', 'Elektronik', 59.99),\n('P007', 'Kochbuch: Vegan genießen', 'Bücher', 24.99),\n('P008', 'Mikrowelle', 'Haushalt', 129.99),\n('P009', 'Kinderbuch: Abenteuer im Wald', 'Bücher', 12.99),\n('P010', 'Smartphone', 'Elektronik', 499.99);",
          "Database Connection Pooling Service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "sql-pre-query" : "CREATE TABLE Produkte (\n    ProduktID VARCHAR(10) PRIMARY KEY,\n    Name VARCHAR(255),\n    Kategorie VARCHAR(100),\n    Preis DECIMAL(10,2)\n);",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "4c4c45c0-0199-1000-45c4-b504c9d7c0de",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create Table nifi_api_conf",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1432.0,
          "y" : 216.0
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "INSERT INTO nifi_api_conf  (name, value)\nVALUES ('dummyjson-api-users','https://dummyjson.com/users'),\n('placeholderjson-api-users','https://jsonplaceholder.typicode.com/users');",
          "Database Connection Pooling Service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "sql-pre-query" : "CREATE TABLE nifi_api_conf  (\n    name varchar(255),\n    value varchar(255),\n    PRIMARY KEY (name)\n);",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4c48a65d-0199-1000-a3ec-f58f2c2026c5",
        "identifier" : "08e3dc99-3342-3c83-ab59-ae93bd82b315",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create table geschaeftsstellen_adressen",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 640.0,
          "y" : 216.0
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "INSERT INTO geschaeftsstellen_adressen (ID, Geschaeftsstelle, Strasse, Hausnummer, Postleitzahl, Stadt, Land)\nVALUES (1, 'Paderborn', 'Karl-Schurz-Strasse', '19a', '33100', 'Paderborn', 'Deutschland'),\n(2, 'Wiesbaden', 'Kreuzberger Ring', '13', '65205', 'Wiesbaden', 'Deutschland'),\n(3, 'Koeln', 'Edmund-Rumpler-Strasse', '7', '51149', 'Koeln', 'Deutschland'),\n(4, 'Muenster', 'Kleinmannbrücke', '96', '48157', 'Muenster', 'Deutschland'),\n(5, 'Augsburg', 'Am Alten Gaswerk', '13', '86156', 'Ausburg', 'Deutschland'),\n(6, 'Nuernberg', 'Südwestpark', '10-12', '90449', 'Nuernberg', 'Deutschland'),\n(7, 'Essen', 'Ruhrallee', '185', '45136', 'Essen', 'Deutschland');",
          "Database Connection Pooling Service" : "c91c1cee-ca71-3d58-9a80-945e615166cc",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "sql-pre-query" : "CREATE TABLE geschaeftsstellen_adressen (\n    ID int NOT NULL,\n    Geschaeftsstelle varchar(255),\n    Strasse varchar(255),\n    Hausnummer varchar(255),\n    Postleitzahl varchar(255),\n    Stadt varchar(255),\n    Land varchar(255),\n    PRIMARY KEY (ID)\n);",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Database" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Database Connection", "Database Tabellen" ],
      "name" : "Database",
      "parameters" : [ ]
    },
    "Create Databases and Tables" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Database" ],
      "name" : "Create Databases and Tables",
      "parameters" : [ ]
    },
    "Database Connection" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Database Connection",
      "parameters" : [ {
        "description" : "",
        "name" : "Database Driver Locations",
        "provided" : false,
        "sensitive" : false,
        "value" : "/tmp/"
      }, {
        "description" : "",
        "name" : "Database Driver Class Name",
        "provided" : false,
        "sensitive" : false,
        "value" : "com.mysql.cj.jdbc.Driver"
      }, {
        "description" : "",
        "name" : "Database Connection URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:mysql://localhost:3307/users"
      }, {
        "description" : "",
        "name" : "Database Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "Database User",
        "provided" : false,
        "sensitive" : false,
        "value" : "nifiuser"
      } ]
    },
    "Database Tabellen" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Database Tabellen",
      "parameters" : [ {
        "description" : "Diese Tabelle die Adressdaten der Nutzer in folgenden Spalten: id (PRIMARY KEY), street, postalCode, city, state, country",
        "name" : "Adressen der Nutzer",
        "provided" : false,
        "sensitive" : false,
        "value" : "adresse"
      }, {
        "description" : "Diese Tabelle, enthält folgende Spalten:\nuserID (PRIMARY KEY),name , username ,email, phone ,",
        "name" : "Nutzerdaten",
        "provided" : false,
        "sensitive" : false,
        "value" : "userdata"
      }, {
        "description" : "Die Tabelle enthält die folgenden Spalten: ProduktID, Name, Kategorie, Preis",
        "name" : "Produktdaten",
        "provided" : false,
        "sensitive" : false,
        "value" : "Produkte"
      }, {
        "description" : "Diese Tabelle enthält folgende Spalten: ID (PRIMARY KEY), Geschaeftsstelle, Strasse, Hausnummer, Postleitzahl,\nStadt, Land",
        "name" : "Adresse der GS",
        "provided" : false,
        "sensitive" : false,
        "value" : "geschaeftsstellen_adressen"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "mhl_admin",
    "flowIdentifier" : "createtables",
    "timestamp" : 0
  }
}