demos/product-data-join-enrichment.json
{
  "externalControllerServices" : {
    "9d510a56-53df-3c2b-b2ff-4e029be87d1e" : {
      "identifier" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
      "name" : "MySQL Connection Pool"
    },
    "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
      "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
      "name" : "JsonTreeReader"
    },
    "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
      "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
      "name" : "JsonRecordSetWriter"
    },
    "600c16fd-3584-32ea-bdba-6ec4828f24d8" : {
      "identifier" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
      "name" : "AvroReader"
    }
  },
  "flow" : {
    "createdTimestamp" : 1755691058804,
    "description" : "Ein Dataflow, welcher eine Mengenliste an verkauften Produkten (inkl. Standort und Datum) um den Preis der Produkte anreichert. Im Anschluss wird der Gesamtepreis pro Datum und Standort ausgerechnet und die Datensätze je Standort geroutet.",
    "identifier" : "product-data-join-enrichment",
    "lastModifiedTimestamp" : 1755691058804,
    "name" : "product-data-join-enrichment",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154b-0198-1000-3bb7-697d4a201e3d",
        "name" : "Berechne den Gesamtpreis je Produkt",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a638f266-0995-3ec1-bb92-9182f66a1083",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154e-0198-1000-7499-4238c2322ec4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 36
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531552-0198-1000-86d0-6eee0a067077",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753155b-0198-1000-a2ee-203d180c9179",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Köln" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531549-0198-1000-68f4-c9168a983ff6",
        "name" : "Route nach Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 32
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154e-0198-1000-7499-4238c2322ec4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd985ada-e3e4-3d6c-a0e2-46168afbbed3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "joined" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154a-0198-1000-7876-9382b293ca10",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 35
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154c-0198-1000-ea70-2af3124c3ef2",
        "name" : "Bekomme die Produktliste von der Datenbank",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531558-0198-1000-ab48-508201476738",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "enrichment" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531548-0198-1000-39b0-8d8b11028a55",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 21
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154f-0198-1000-bbde-ca909d44b6b6",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531557-0198-1000-dd20-de8f93b52be3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Hamburg" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531549-0198-1000-68f4-c9168a983ff6",
        "name" : "Route nach Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 31
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0b7d0284-c1d6-3e90-86cd-535e5ae1a57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "05616987-fc52-366e-a041-96821c4bce3b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea590368-0198-1000-691b-7f2f7cd4a6e7",
        "name" : "Bekomme die Produktliste von der Datenbank",
        "type" : "PROCESSOR"
      },
      "zIndex" : 45
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154a-0198-1000-7876-9382b293ca10",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531554-0198-1000-e507-43b40ae5e05d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531548-0198-1000-39b0-8d8b11028a55",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 23
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea599455-0198-1000-8df6-7a9c330c206b",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6955d373-b120-356f-88c6-683a4264d813",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "enrichment" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea58d98e-0198-1000-0ebe-a0857e6f5944",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 40
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea58d98e-0198-1000-0ebe-a0857e6f5944",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "12ce9bd3-22e4-3f75-a1f1-05e0365ddf6e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea567c1b-0198-1000-8588-d0cebbad271b",
        "name" : "Erstelle Verkaufsliste je Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 38
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea59165f-0198-1000-f95d-a6f0d52baaf2",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a1c52276-1bc5-323b-a99c-043878c86837",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea58d98e-0198-1000-0ebe-a0857e6f5944",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 42
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531550-0198-1000-eae6-0eaddd62789e",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531559-0198-1000-e088-f1d1a3a488f6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "München" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531549-0198-1000-68f4-c9168a983ff6",
        "name" : "Route nach Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 33
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea593cc1-0198-1000-b643-651040805d20",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dd714341-f874-3576-8956-24825a76f184",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "joined" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea59165f-0198-1000-f95d-a6f0d52baaf2",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 43
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154a-0198-1000-7876-9382b293ca10",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531555-0198-1000-eb36-38705f469e5a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154c-0198-1000-ea70-2af3124c3ef2",
        "name" : "Bekomme die Produktliste von der Datenbank",
        "type" : "PROCESSOR"
      },
      "zIndex" : 24
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531549-0198-1000-68f4-c9168a983ff6",
        "name" : "Route nach Standort",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9b15a1ce-885a-3db4-b4a5-a5952c15628f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "calculateTotalPrice" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154b-0198-1000-3bb7-697d4a201e3d",
        "name" : "Berechne den Gesamtpreis je Produkt",
        "type" : "PROCESSOR"
      },
      "zIndex" : 37
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea59165f-0198-1000-f95d-a6f0d52baaf2",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4a8498a1-208c-33eb-b1a5-95f9475f4272",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea590368-0198-1000-691b-7f2f7cd4a6e7",
        "name" : "Bekomme die Produktliste von der Datenbank",
        "type" : "PROCESSOR"
      },
      "zIndex" : 41
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c2a3d779-61c0-3e5f-b59f-0d1bbf8b2dc1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fb04bcf4-0b5a-3993-a099-c261f5089b2c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea599455-0198-1000-8df6-7a9c330c206b",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 46
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0b7d0284-c1d6-3e90-86cd-535e5ae1a57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bc659b4d-a5df-3930-8548-fbac391462c6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "timeout" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea59165f-0198-1000-f95d-a6f0d52baaf2",
        "name" : "JoinEnrichment",
        "type" : "PROCESSOR"
      },
      "zIndex" : 44
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531551-0198-1000-b64c-098ee4ffc518",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531556-0198-1000-0e33-a38d49281629",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Berlin" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531549-0198-1000-68f4-c9168a983ff6",
        "name" : "Route nach Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 30
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea590368-0198-1000-691b-7f2f7cd4a6e7",
        "name" : "Bekomme die Produktliste von der Datenbank",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3385baef-6ad2-3f48-8b08-b88386c17bba",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ea599455-0198-1000-8df6-7a9c330c206b",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 39
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c7531548-0198-1000-39b0-8d8b11028a55",
        "name" : "ForkEnrichment",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753155a-0198-1000-cd96-cb299f1be7b9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c753154d-0198-1000-9404-d70e3a4ebd29",
        "name" : "Erstelle Verkaufsliste je Standort",
        "type" : "PROCESSOR"
      },
      "zIndex" : 34
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "9d510a56-53df-3c2b-b2ff-4e029be87d1e" : {
        "identifier" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
        "name" : "MySQL Connection Pool"
      },
      "d9737c2f-2a39-392d-b358-90e5d8a730bc" : {
        "identifier" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "name" : "JsonTreeReader"
      },
      "a20c6057-90cf-3bbc-8eee-752d515d5e62" : {
        "identifier" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "name" : "JsonRecordSetWriter"
      },
      "600c16fd-3584-32ea-bdba-6ec4828f24d8" : {
        "identifier" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
        "name" : "AvroReader"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531550-0198-1000-eae6-0eaddd62789e",
      "position" : {
        "x" : -376.0000391638755,
        "y" : 595.999968538094
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0b7d0284-c1d6-3e90-86cd-535e5ae1a57d",
      "position" : {
        "x" : 1664.0,
        "y" : 104.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea593cc1-0198-1000-b643-651040805d20",
      "position" : {
        "x" : 1048.0,
        "y" : 120.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154f-0198-1000-bbde-ca909d44b6b6",
      "position" : {
        "x" : 455.9999608361245,
        "y" : 659.999968538094
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c2a3d779-61c0-3e5f-b59f-0d1bbf8b2dc1",
      "position" : {
        "x" : 2168.0,
        "y" : -320.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531552-0198-1000-86d0-6eee0a067077",
      "position" : {
        "x" : 47.9999608361245,
        "y" : 667.999968538094
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531551-0198-1000-b64c-098ee4ffc518",
      "position" : {
        "x" : 607.9999608361245,
        "y" : 547.999968538094
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 72.0,
      "identifier" : "c7531553-0198-1000-a099-9fd7b848444f",
      "label" : "Daten aus beiden Tabelle zusammenfügen\n-> JoinEnrichment",
      "position" : {
        "x" : 287.9999608361245,
        "y" : -220.00003146190602
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 176.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Demo Produktdata JoinEnrichment",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154a-0198-1000-7876-9382b293ca10",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoinEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : -164.00003146190602
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "Join Strategy" : "SQL",
        "Insertion Record Path" : "/ProduktID",
        "Timeout" : "10 min",
        "Original Record Reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "Record Writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "Enrichment Record Reader" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
        "dbf-default-scale" : "0",
        "Maximum number of Bins" : "10000",
        "SQL" : "SELECT o.VerkaufsID, o.Datum, o.Menge, o.Filiale, e.ProduktID, e.Preis as ProduktPreis\nFROM original o\n         LEFT OUTER JOIN enrichment e\n                         ON o.ProduktID = e.ProduktID"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Join Strategy" : {
          "displayName" : "Join Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Join Strategy",
          "sensitive" : false
        },
        "Insertion Record Path" : {
          "displayName" : "Insertion Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Insertion Record Path",
          "sensitive" : false
        },
        "Timeout" : {
          "displayName" : "Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timeout",
          "sensitive" : false
        },
        "Original Record Reader" : {
          "displayName" : "Original Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Original Record Reader",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Enrichment Record Reader" : {
          "displayName" : "Enrichment Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Enrichment Record Reader",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "SQL" : {
          "displayName" : "SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154c-0198-1000-ea70-2af3124c3ef2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Bekomme die Produktliste von der Datenbank",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -656.0000391638755,
        "y" : -356.000031461906
      },
      "properties" : {
        "esql-max-rows" : "0",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "Select * From Produkte;",
        "Database Connection Pooling Service" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "true",
        "dbf-default-scale" : "0",
        "compression-format" : "NONE",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "dbf-normalize" : "false",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531549-0198-1000-68f4-c9168a983ff6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Route nach Standort",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : 395.999968538094
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "Berlin" : "SELECT *\nFROM FLOWFILE\nWHERE Filiale = 'Berlin'",
        "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "Köln" : "SELECT *\nFROM FLOWFILE\nWHERE Filiale = 'Köln'",
        "Hamburg" : "SELECT *\nFROM FLOWFILE\nWHERE Filiale = 'Hamburg'",
        "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "include-zero-record-flowfiles" : "false",
        "München" : "SELECT *\nFROM FLOWFILE\nWHERE Filiale = 'München'",
        "dbf-default-scale" : "0"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Berlin" : {
          "displayName" : "Berlin",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Berlin",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Köln" : {
          "displayName" : "Köln",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Köln",
          "sensitive" : false
        },
        "Hamburg" : {
          "displayName" : "Hamburg",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Hamburg",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "München" : {
          "displayName" : "München",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "München",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea567c1b-0198-1000-8588-d0cebbad271b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Erstelle Verkaufsliste je Standort",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 904.0,
        "y" : -712.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "JSON",
        "generate-ff-custom-text" : "{\n    \"VerkaufsID\": \"V0001\",\n    \"ProduktID\": \"P004\",\n    \"Datum\": \"2024-08-28\",\n    \"Menge\": 5,\n    \"Filiale\": \"Hamburg\"\n}\n",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154d-0198-1000-9404-d70e3a4ebd29",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Erstelle Verkaufsliste je Standort",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : -716.000031461906
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "CSV",
        "generate-ff-custom-text" : "VerkaufsID;ProduktID;Datum;Menge;Filiale\nV0001;P004;2024-08-28;5;Hamburg\nV0002;P003;2024-09-20;3;Berlin\nV0003;P010;2024-12-25;3;Berlin\nV0004;P010;2025-04-14;3;München\nV0005;P009;2025-04-14;1;Berlin\nV0006;P006;2025-06-02;5;Hamburg\nV0007;P005;2025-07-15;2;München\nV0008;P008;2025-04-08;3;Köln\nV0009;P007;2025-04-15;5;Hamburg\nV0010;P005;2024-10-18;4;Berlin\nV0011;P007;2025-03-12;4;Berlin\nV0012;P007;2024-09-19;2;Köln\nV0013;P006;2024-10-28;3;München\nV0014;P003;2024-09-01;2;Hamburg\nV0015;P004;2025-05-06;2;Köln\nV0016;P007;2025-01-30;2;Berlin\nV0017;P001;2025-03-11;4;München\nV0018;P010;2025-03-22;5;Berlin\nV0019;P006;2025-08-08;3;München\nV0020;P005;2025-06-10;2;Berlin",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea590368-0198-1000-691b-7f2f7cd4a6e7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Bekomme die Produktliste von der Datenbank",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -224.0
      },
      "properties" : {
        "esql-max-rows" : "0",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "Select * \nFrom Produkte p\nWHERE p.ProduktID = '${produktID}'",
        "Database Connection Pooling Service" : "9d510a56-53df-3c2b-b2ff-4e029be87d1e",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "true",
        "dbf-default-scale" : "0",
        "compression-format" : "NONE",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "dbf-normalize" : "false",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea58d98e-0198-1000-0ebe-a0857e6f5944",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ForkEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 904.0,
        "y" : -528.0
      },
      "properties" : { },
      "propertyDescriptors" : { },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea59165f-0198-1000-f95d-a6f0d52baaf2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoinEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 912.0,
        "y" : -72.0
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "Join Strategy" : "SQL",
        "Insertion Record Path" : "/ProduktID",
        "Timeout" : "10 min",
        "Original Record Reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "Record Writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "Enrichment Record Reader" : "600c16fd-3584-32ea-bdba-6ec4828f24d8",
        "dbf-default-scale" : "0",
        "Maximum number of Bins" : "10000",
        "SQL" : "SELECT o.VerkaufsID, o.Datum, o.Menge, o.Filiale, e.ProduktID, e.Preis as ProduktPreis\nFROM original o\n         LEFT OUTER JOIN enrichment e\n                         ON o.ProduktID = e.ProduktID"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Join Strategy" : {
          "displayName" : "Join Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Join Strategy",
          "sensitive" : false
        },
        "Insertion Record Path" : {
          "displayName" : "Insertion Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Insertion Record Path",
          "sensitive" : false
        },
        "Timeout" : {
          "displayName" : "Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timeout",
          "sensitive" : false
        },
        "Original Record Reader" : {
          "displayName" : "Original Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Original Record Reader",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Enrichment Record Reader" : {
          "displayName" : "Enrichment Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Enrichment Record Reader",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "SQL" : {
          "displayName" : "SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c7531548-0198-1000-39b0-8d8b11028a55",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ForkEnrichment",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : -516.000031461906
      },
      "properties" : { },
      "propertyDescriptors" : { },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154b-0198-1000-3bb7-697d4a201e3d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Berechne den Gesamtpreis je Produkt",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : 219.99996853809398
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "record-writer" : "a20c6057-90cf-3bbc-8eee-752d515d5e62",
        "record-reader" : "d9737c2f-2a39-392d-b358-90e5d8a730bc",
        "include-zero-record-flowfiles" : "false",
        "calculateTotalPrice" : "SELECT\n    VerkaufsID, \n    Datum, \n    Filiale, \n    ProduktID, \n    Menge, \n    ProduktPreis,\n    Menge * ProduktPreis AS Total\nFROM FLOWFILE\n",
        "dbf-default-scale" : "0"
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "calculateTotalPrice" : {
          "displayName" : "calculateTotalPrice",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "calculateTotalPrice",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ea599455-0198-1000-8df6-7a9c330c206b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -408.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "produktID" : "$.ProduktID",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "produktID" : {
          "displayName" : "produktID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "produktID",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c753154e-0198-1000-7499-4238c2322ec4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -40.0000391638755,
        "y" : 11.999968538093981
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "mhl_admin",
    "flowIdentifier" : "product-data-join-enrichment",
    "timestamp" : 0
  }
}